@page
@model LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<section class="auth-bg-cover min-vh-100 p-4 p-lg-5 d-flex align-items-center justify-content-center">
    <div class="bg-overlay"></div>
    <div class="container-fluid px-0">
        <div class="row g-0">
            <div class="col-xl-8 col-lg-6">
                <div class="h-100 mb-0 p-4 d-flex flex-column justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <img src="~/assets/images/logo-light-full.png" alt="" height="32" />
                        </div>
                    </div>

                    <div class="text-white mt-4">
                        <p class="mb-0">
                            &copy;
                            <script>document.write(new Date().getFullYear())</script> Milenio Health. Crafted with <i class="mdi mdi-heart text-danger"></i> by MosqueterosSoft
                        </p>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-xl-4 col-lg-6">
                <div class="card mb-0 py-5">

                    <div class="card-body p-4 p-sm-5 m-lg-2">
                        <div class="text-center mt-2">
                            <h5 class="text-primary fs-22">Bienvenido de Nuevo !</h5>
                            <p class="text-muted">Inicia sesión para continuar con Milenio Health.</p>
                        </div>
                        <div class="p-2 mt-5">
                            <form id="account" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="mb-3">
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Ingrese Usuario" id="username" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <div class="float-end">
                                        <a href="@Url.Action("PasswordResetBasic","Authentication")" class="text-muted">Olvidaste tu contraseña?</a>
                                    </div>
                                    <label asp-for="Input.Password" class="form-label"></label>
                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                        <input asp-for="Input.Password" class="form-control pe-5 password-input" autocomplete="current-password" aria-required="true" placeholder="Ingrese Contraseña" id="password-input" />
                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="auth-remember-check" asp-for="Input.RememberMe">
                                    <label asp-for="Input.RememberMe" class="form-check-label"></label>
                                </div>

                                <div class="mt-4">
                                    <button class="btn btn-primary w-100" type="submit">Ingresar</button>
                                </div>
                            </form>
                            @if (!(bool)ViewData["Validate"])
                            {
                                <div class="text-center mt-5">
                                    <p class="mb-0">No tienes cuenta registrada ? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="fw-semibold text-secondary text-decoration-underline"> Registrar</a> </p>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end conatiner-->
</section>
@section scripts{
    <!-- password-addon init -->
    <script src="~/assets/js/pages/password-addon.init.js"></script>

        }